<nav class="navbar navbar-expand-lg study-navbar">
  <div class="container-fluid">

    <a class="navbar-brand fw-bold brand-logo" routerLink="/home">
      Study<span class="ai-text">AI</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav gap-lg-2">

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true}">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/classrooms"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true}">
            Classrooms
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/quizzes"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true}">
            AI Quiz
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            Settings
          </a>
        </li>

      </ul>

      <div class="ms-auto d-flex align-items-center profile-wrapper">
        <app-user-profile></app-user-profile>
      </div>

    </div>
  </div>
</nav>