<nav class="navbar navbar-expand-lg study-navbar">
  <div class="container-fluid">

    <!-- LOGO -->
    <a class="navbar-brand fw-bold brand-logo" routerLink="/home">
      Study<span class="ai-text">AI</span>
    </a>

    <!-- MOBILE BUTTON -->
    <button class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- NAVBAR CONTENT -->
    <div class="collapse navbar-collapse" id="navbarNav">

      <!-- LINKS -->
      <ul class="navbar-nav gap-lg-2">

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true}">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/classrooms"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true}">
            Classrooms
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link"
            routerLink="/quizzes"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true}">
            AI Quiz
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            Settings
          </a>
        </li>

      </ul>

      <!-- RIGHT SIDE -->
      <div class="ms-auto d-flex align-items-center gap-3">

        <div class="ms-auto d-flex align-items-center gap-3">

  <!-- THEME BUTTON -->
  <button
  class="btn btn-outline-secondary theme-toggle"
  (click)="toggleTheme()">

  <i class="bi" [ngClass]="isDark ? 'bi-sun' : 'bi-moon-stars'"></i>

</button>

  <!-- PROFILE -->
  <div class="profile-wrapper">
    <app-user-profile></app-user-profile>
  </div>

</div>

      </div>

    </div>
  </div>
</nav>