<div class="profile-container">

  <!-- FOTO -->
  <div class="avatar">
    <img [src]="user?.profilePicture || '/assets/default-profile-picture.svg'">
  </div>

  <!-- VISUALIZAÇÃO -->
  <div *ngIf="!isEditing">
    <h3>{{ user?.name }}</h3>
    <p>{{ user?.email }}</p>

    <button (click)="startEdit()">Edit</button>
  </div>

  <!-- EDIÇÃO -->
  <div *ngIf="isEditing">
    <input type="text" [(ngModel)]="editUser.name">
    <input type="email" [(ngModel)]="editUser.email">

    <button (click)="save()">Save</button>
    <button (click)="cancel()">Cancel</button>
  </div>

</div>