@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

@media (max-width: 992px) {
  main {
    flex-direction: column;
  }

  section.col-5 {
    width: 100%;
  }

  section.text-bg-dark {
    display: none;
  }
}
